/.idea
/.vscode
/.venv
/venv

# Environment variables
.env

# Docusaurus
.docusaurus/
build/
node_modules/

# Python
__pycache__/
*.pyc
.pytest_cache/

# Playwright
/playwright-report/
/test-results/


